@namespace Asp.netCore_Palma_RealState.Extention
<div class="col-lg-3 col-md-3 col-12">
    <div class="text-right">
        <div class="list-group p-0 mb-5">
            @if (User.IsInRole(rols.Admin))
            {
                <a href="/Admin/Estate/add_estate" class="active list-group-item list-group-item-action">
                    مدیریت املاک
                </a>
                <a href="/Admin/Estate/show_all_category" class=" list-group-item list-group-item-action">
                    مدیریت دسته بندی
                </a>
            }
            
            <a href="/Admin/Favorits/favourites" class=" list-group-item list-group-item-action">
                مدیریت علاقه مندی ها
            </a>
           
        </div>
    </div>
    
</div>